<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server Portal - Pathfinder WeatherBot</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/portal.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/map.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/modal.css}"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://bumbu.me/svg-pan-zoom/dist/svg-pan-zoom.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
</head>
<body>
<!--/*@thymesVar id="config" type="pathfinder.web.frontend.dto.MapConfig"*/-->
<!--/*@thymesVar id="kingdomMap" type="pathfinder.domain.kingdom.terrain.KingdomMap"*/-->
<div class="wrapper">
    <div class="window">
        <div class="container">
            <div th:replace="~{tags/navigation :: sidebar}"></div>
            <header class="navbarHeader" th:if="${campaign} != null" th:replace="~{tags/navigation :: navbar(page='maps')}"></header>
            <div id="mapWrapper" th:if="${campaign} != null" class="contentWrapper">
                <header class="domainHeader" th:replace="~{maps/templates/fragments :: navbar}"></header>
                <div class="pagedContent" th:if="${map} != null">
                    <div id="mapView" class="mapView">
                        <svg th:replace="~{maps/templates/hexMap :: hexMap}"/>
                        <script th:inline="javascript"
                                hx-trigger="every 10s"
                                hx-target="#mapViewport"
                                hx-select="svg > g"
                                th:hx-get="@{'/map/{mapId}/template'(mapId = ${kingdomMap.id})}">
                            svgPanZoom('#svgMap', {
                                dblClickZoomEnabled: false,
                                minZoom: 0.1
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{tags/forms :: forms}"/>
</body>
</html>
