<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server Portal - Pathfinder WeatherBot</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/portal.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/map.css}"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://bumbu.me/svg-pan-zoom/dist/svg-pan-zoom.js"></script>
    <script src="/js/form_handler.js"></script>
    <script src="/js/hexmap.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="window">
        <div class="container">
            <div th:replace="~{campaign_sidebar :: sidebar}"></div>
            <header class="navbarHeader" th:if="${campaign} != null" th:replace="~{campaign_navbar :: navbar(page='maps')}"></header>
            <div th:if="${campaign} != null" class="contentWrapper">
                <header class="mapsHeader">
                    <nav class="mapsNavbar">
                        <ul>
                            <li th:each="m : ${#lists.sort(campaign.maps)}" th:classappend="${map?.id == m.id} ? 'activeContent'">
                                <a th:href="@{'/map/{mapId}'(mapId=${m.id})}" th:text="${m.name}"/>
                            </li>
                            <li>
                                <a id="newMapTab" class="formOpen" onclick="$('#newMapModal').show()">
                                    +
                                </a>
                            </li>
                        </ul>
                    </nav>
                </header>
                <div class="pagedContent" th:if="${map} != null">
                    <div id="mapSidebar" style="display: none">
                        <div class="hexForm">
                            <form id="hexForm" th:action="@{'/api/map/{mapId}'(mapId = ${map.id})}" method="post">
                                <label for="hexQ">Coordinate Q</label>
                                <input name="hexQ" id="hexQ" class="hexQ" type="number" readonly>
                                <br>
                                <label for="hexR">Coordinate R</label>
                                <input name="hexR" id="hexR" class="hexR" type="number" readonly>
                                <br>
                                <label for="hexTerrain">Terrain</label>
                                <select name="terrain" id="hexTerrain" onchange="
                                    $('#hexForm').attr('terrain', value);
                                    $('#terrainFeatures').prop('disabled', value === 'WATER').prop('hidden', value === 'WATER');
                                    let road = $('#road').prop('disabled', value === 'WATER');
                                    if(value === 'WATER') {
                                        road.val('');
                                    }
                                ">
                                    <option th:each="type : ${T(pathfinder.domain.kingdom.terrain.TerrainType).entries}" th:value="${type}" th:text="${type}"/>
                                </select>
                                <br>
                                <fieldset id="terrainFeatures">
                                    <legend>Features</legend>
                                    <ul>
                                        <li th:each="feature : ${T(pathfinder.domain.kingdom.terrain.features.TerrainFeature).entries}">
                                            <label th:for="${feature}" th:text="${feature.displayName}"></label>
                                            <input th:id="${feature}" name="feature" th:value="${feature}" type="checkbox" disabled/>
                                        </li>
                                    </ul>
                                </fieldset>
                                <fieldset id="terrainImprovements">
                                    <legend>Improvements</legend>
                                    <label for="mainImprovement">Main</label>
                                    <select id="mainImprovement" name="improvement">
                                        <option value="">None</option>
                                        <option id="FARM" value="FARM">Farm</option>
                                        <option id="MINE" value="MINE">Mine</option>
                                        <option id="QUARRY" value="QUARRY">Quarry</option>
                                        <option id="SAWMILL" value="SAWMILL">Sawmill</option>
                                    </select>
                                    <ul>
                                        <li th:each="improvement : ${T(pathfinder.domain.kingdom.terrain.improvements.Improvement).entries}"
                                            th:if="${!improvement.road && !improvement.main}">
                                            <label th:for="${improvement}" th:text="${improvement.displayName}"></label>
                                            <input th:id="${improvement}" name="improvement" th:value="${improvement}" type="checkbox" disabled/>
                                        </li>
                                    </ul>
                                    <label for="road">Road</label>
                                    <select id="road" name="improvement">
                                        <option value="">None</option>
                                        <option value="ROAD">Road</option>
                                        <option value="HIGHWAY">Highway</option>
                                    </select>
                                </fieldset>
                                <label for="visibleText">Visible Text</label>
                                <textarea id="visibleText" name="visibleText" cols="20" rows="5"></textarea>
                                <br>
                                <label for="hiddenText">Hidden Text</label>
                                <textarea id="hiddenText" name="hiddenText" cols="20" rows="5"></textarea>
                                <br>
                                <input class="inputButton" type="submit" value="Edit hex"/>
                            </form>
                        </div>
                        <hr>
                        <div id="settlementField">
                            <button id="newSettlementButton" class="inputButton formOpen" type="button" onclick="$('#newSettlementModal').show()" style="display: none">
                                New Settlement
                            </button>
                            <a id="settlementLink" style="display: none"></a>
                        </div>
                    </div>
                    <div id="mapView" class="mapView"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:if="${map != null}">
    <script th:inline="javascript">
        let offsetX = /*[[${map.offsetX}]]*/ 0;
        let offsetY = /*[[${map.offsetY}]]*/ 0;
        let mapData = /*[[${map.mapData}]]*/ null;
        let campaignId = /*[[${campaign.id}]]*/ 0;
        let rivers = /*[[${map.rivers}]]*/ null;
        let roads = /*[[${map.roads}]]*/ null;

        $('#mapView').addMap(campaignId, true, offsetX, offsetY, mapData, rivers, roads);
    </script>
</th:block>
<th:block th:replace="~{tags/forms :: forms}"/>
</body>
</html>
