<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server Portal - Pathfinder WeatherBot</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/portal.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/map.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/modal.css}"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://bumbu.me/svg-pan-zoom/dist/svg-pan-zoom.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    <script th:src="@{/js/debug.js}"></script>
</head>
<body>
<!--/*@thymesVar id="config" type="pathfinder.web.frontend.dto.MapConfig"*/-->
<!--/*@thymesVar id="map" type="pathfinder.domain.kingdom.terrain.KingdomMap"*/-->
<div class="wrapper">
    <div class="window">
        <div class="container">
            <div th:replace="~{campaign_sidebar :: sidebar}"></div>
            <header class="navbarHeader" th:if="${campaign} != null" th:replace="~{campaign_navbar :: navbar(page='maps')}"></header>
            <div id="mapWrapper" th:if="${campaign} != null" class="contentWrapper">
                <header class="mapsHeader">
                    <nav class="mapsNavbar">
                        <ul>
                            <li th:each="m : ${#lists.sort(campaign.maps)}" th:classappend="${map?.id == m.id} ? 'activeContent'">
                                <a th:href="@{'/map/{mapId}'(mapId=${m.id})}" th:text="${m.name}"/>
                            </li>
                            <li>
                                <a id="newMapTab" class="formOpen" onclick="$('#newMapModal').show()">
                                    +
                                </a>
                            </li>
                        </ul>
                    </nav>
                </header>
                <div class="pagedContent" th:if="${map} != null">
                    <div id="mapView" class="mapView">
                        <svg id="svgMap"
                             height="100%"
                             width="100%"
                             oncontextmenu="return false;"
                        >
                        <!--                             tabindex="1"-->
                        <!--                             xmlns="http://www.w3.org/2000/svg"-->
                            <defs>
                                <pattern id="plain" height="100%" width="100%" overflow="visible">
                                    <image
                                            th:height="${config.hexHeight}"
                                            th:width="${config.hexWidth}"
                                            th:x="${config.patternOffsetX}"
                                            th:y="${config.patternOffsetY}"
                                            th:href="@{'/img/ClearSpeckled/ClearSpeckled001.png'}"
                                    />
                                </pattern>
                                <pattern id="forest" height="100%" width="100%" overflow="visible">
                                    <image
                                            th:height="${config.hexHeight}"
                                            th:width="${config.hexWidth}"
                                            th:x="${config.patternOffsetX}"
                                            th:y="${config.patternOffsetY}"
                                            th:href="@{'/img/Bushes/Bushes005.png'}"
                                    />
                                </pattern>
                                <pattern id="jungle" height="100%" width="100%" overflow="visible">
                                    <image
                                            th:height="${config.hexHeight}"
                                            th:width="${config.hexWidth}"
                                            th:x="${config.patternOffsetX}"
                                            th:y="${config.patternOffsetY}"
                                            th:href="@{'/img/LightJungle/LightJungle005.png'}"
                                    />
                                </pattern>
                                <pattern id="mountain" height="100%" width="100%" overflow="visible">
                                    <image
                                            th:height="${config.hexHeight}"
                                            th:width="${config.hexWidth}"
                                            th:x="${config.patternOffsetX}"
                                            th:y="${config.patternOffsetY}"
                                            th:href="@{'/img/TanMountains/TanMountains004.png'}"
                                    />
                                </pattern>
                                <pattern id="marsh" height="100%" width="100%" overflow="visible">
                                    <image
                                            th:height="${config.hexHeight}"
                                            th:width="${config.hexWidth}"
                                            th:x="${config.patternOffsetX}"
                                            th:y="${config.patternOffsetY}"
                                            th:href="@{'/img/Bog/Bog001.png'}"
                                    />
                                </pattern>
                                <pattern id="coastline" height="100%" width="100%" overflow="visible">
                                    <image
                                            th:height="${config.hexHeight}"
                                            th:width="${config.hexWidth}"
                                            th:x="${config.patternOffsetX}"
                                            th:y="${config.patternOffsetY}"
                                            th:href="@{'/img/Sand/Sand003.png'}"
                                    />
                                </pattern>
                                <pattern id="desert" height="100%" width="100%" overflow="visible">
                                    <image
                                            th:height="${config.hexHeight}"
                                            th:width="${config.hexWidth}"
                                            th:x="${config.patternOffsetX}"
                                            th:y="${config.patternOffsetY}"
                                            th:href="@{'/img/Desert/Desert003.png'}"
                                    />
                                </pattern>
                                <pattern id="hill" height="100%" width="100%" overflow="visible">
                                    <image
                                            th:height="${config.hexHeight}"
                                            th:width="${config.hexWidth}"
                                            th:x="${config.patternOffsetX}"
                                            th:y="${config.patternOffsetY}"
                                            th:href="@{'/img/GreenHills/GreenHills001.png'}"
                                    />
                                </pattern>
                                <pattern id="water" height="100%" width="100%" overflow="visible">
                                    <image
                                            th:height="${config.hexHeight}"
                                            th:width="${config.hexWidth}"
                                            th:x="${config.patternOffsetX}"
                                            th:y="${config.patternOffsetY}"
                                            th:href="@{'/img/Ocean/Ocean005.png'}"
                                    />
                                </pattern>
                            </defs>
                            <g id="mapViewport"
                               class="svg-pan-zoom_viewport">
                                <g id="hexContainer" th:transform="${config.mapTransform}">
                                    <g th:each="entry: ${map.hexesAndNeighbors}"
                                       th:if="${entry.key.z == config.z}"
                                       oncontextmenu="return false;"
                                       hx-trigger="contextmenu consume"
                                       hx-target="#mapWrapper"
                                       hx-swap="beforeend"
                                       th:hx-get="@{'/map/{mapId}/hex?q={q}&r={r}&z={z}'(mapId = ${map.id}, q = ${entry.key.q}, r = ${entry.key.r}, z = ${entry.key.z})}">
                                        <title th:text="${entry.value?.tooltip ?: entry.key.axialKey}"/>
                                        <polygon class="mapHex"
                                                 th:terrain="${entry.value?.rawTerrain ?: 'null'}"
                                                 th:q="${entry.key.q}"
                                                 th:r="${entry.key.r}"
                                                 th:points="${config.hexPoints}"
                                                 th:transform="${config.hexTransform(entry.key)}"/>
                                        <path th:if="${entry.value != null && entry.value.terrainFeatures.contains(T(pathfinder.domain.kingdom.terrain.features.TerrainFeature).LAKE)}"
                                              th:d="${config.randomLake(entry.key)}"
                                              class="lake"
                                              fill="#4a90e2"
                                              stroke="#9c8566"
                                              stroke-width="1.5"
                                              stroke-opacity="0.8"
                                              fill-opacity="0.9"
                                        />
                                    </g>
                                </g>
                                <g id="riverContainer" pointer-events="none" th:transform="${config.mapTransform}">
                                    <path th:each="entry: ${map.rivers(config.z)}"
                                          th:d="${config.processRiverPath(entry, map.hexes, true, null, null)}"
                                          fill="none"
                                          stroke="#4a90e2"
                                          th:stroke-width="${config.circumradius * config.riverWidth}"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                    />
                                </g>
                                <g id="roadContainer" pointer-events="none" th:transform="${config.mapTransform}">
                                    <path th:each="entry: ${map.roads(config.z)}"
                                          th:d="${config.processRoadPath(entry)}"
                                          fill="none"
                                          stroke="#daa06d"
                                          th:stroke-width="${config.circumradius * config.roadWidth}"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                    />
                                </g>
                                <g id="settlementContainer" pointer-events="none" th:transform="${config.mapTransform}">
                                    <g th:each="entry: ${map.settlements}"
                                       th:transform="${config.hexTransform(entry.hex.coordinate)}">
                                        <image th:href="@{'/img/Settlement/{type}.svg'(type=${entry.type.displayName})}"
                                               th:height="${config.circumradius}"
                                               th:width="${config.circumradius}"
                                               th:transform="${config.settlementTransform}"
                                        />
                                        <text th:text="${entry.name}"
                                              text-anchor="middle"
                                        />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <script th:inline="javascript"
                                hx-trigger="every 10s"
                                hx-target="#mapViewport"
                                hx-select="svg > g"
                                th:hx-get="@{'/map/{mapId}/template'(mapId = ${map.id})}">
                            svgPanZoom('#svgMap', {
                                dblClickZoomEnabled: false,
                                minZoom: 0.1
                            });
                            // document.getElementById('svgMap').addEventListener('contextmenu', event => {
                            //     event.preventDefault();
                            // });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{tags/forms :: forms}"/>
</body>
</html>
