<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server Portal - Pathfinder WeatherBot</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/portal.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/map.css}"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/form_handler.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="window">
        <div class="container">
            <div th:replace="~{tags/navigation :: sidebar}"></div>
            <header class="navbarHeader" th:if="${campaign} != null" th:replace="~{tags/navigation :: navbar(page='kingdoms')}"></header>
            <div th:if="${campaign} != null" class="contentWrapper">
                <header class="domainHeader" th:replace="~{kingdoms/templates/fragments :: navbar}"></header>
                <div class="content pagedContent">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Settlements</th>
                        </tr>
                        <tr th:each="k : ${#lists.sort(campaign.kingdoms)}">
                            <td>
                                <a th:href="@{'/kingdom/{kingdomId}'(kingdomId=${k.id})}" th:text="${k.name}"></a>
                            </td>
                            <td th:text="${k.size}"></td>
                            <td th:text="${#lists.size(k.settlements)}"></td>
                        </tr>
                    </table>
                    <button type="button" class="deleteButton" th:hx-delete="@{'/api/kingdoms/{kingdomId}'(kingdomId=${k.id})}" hx-confirm="This will permanently this kingdom.\nAre you sure you want to proceed?">
                        Delete Kingdom
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:if="${map != null}">
    <script th:inline="javascript">
        let offsetX = /*[[${map.offsetX}]]*/ 0;
        let offsetY = /*[[${map.offsetY}]]*/ 0;
        let mapData = /*[[${map.mapData}]]*/ null;
        let campaignId = /*[[${campaign.id}]]*/ 0;
        let rivers = /*[[${map.rivers}]]*/ null;
        let roads = /*[[${map.roads}]]*/ null;

        $('#mapView').addMap(campaignId, true, offsetX, offsetY, mapData, rivers, roads);
    </script>
</th:block>
</body>
</html>
