<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server Portal - Pathfinder WeatherBot</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/portal.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/map.css}"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://bumbu.me/svg-pan-zoom/dist/svg-pan-zoom.js"></script>
    <script src="/js/form_handler.js"></script>
</head>
<body>
<!--/*@thymesVar id="campaign" type="pathfinder.domain.Campaign"*/-->
<div class="wrapper">
    <div class="window">
        <div class="container">
            <div th:replace="~{tags/navigation :: sidebar}"></div>
            <header class="navbarHeader" th:if="${campaign} != null" th:replace="~{tags/navigation :: navbar(page='settlements')}"></header>
            <div th:if="${campaign} != null" class="contentWrapper">
                <header class="domainHeader">
                    <nav class="navbar domainNavbar">
                        <ul>
                            <li th:each="s : ${campaign.settlements}">
                                <a th:href="@{'/settlement/{settlementId}'(settlementId=${s.id})}" th:text="${s.name}"/>
                            </li>
                        </ul>
                    </nav>
                </header>
                <div class="content pagedContent">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Districts</th>
                        </tr>
                        <tr th:each="s : ${campaign.settlements}">
                            <td>
                                <a th:href="@{'/settlement/{settlementId}'(settlementId=${s.id})}" th:text="${s.name}"></a>
                            </td>
                            <td th:text="${s.type.displayName}"></td>
                            <td th:text="${s.size}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
