<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server Portal - Pathfinder WeatherBot</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/portal.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/map.css}"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://bumbu.me/svg-pan-zoom/dist/svg-pan-zoom.js"></script>
    <script src="/js/form_handler.js"></script>
    <script src="/js/hexmap.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="window">
        <div class="container">
            <div th:replace="~{campaign_sidebar :: sidebar}"></div>
            <header class="navbarHeader" th:if="${campaign} != null" th:replace="~{campaign_navbar :: navbar(page='maps')}"></header>
            <div th:if="${campaign} != null" class="contentWrapper">
                <header class="mapsHeader">
                    <nav class="mapsNavbar">
                        <ul>
                            <li th:each="m : ${#lists.sort(campaign.maps)}" th:classappend="${map?.id == m.id} ? 'activeContent'">
                                <a th:href="@{'/map/{mapId}'(mapId=${m.id})}" th:text="${m.name}"/>
                            </li>
                            <li>
                                <a id="newMapTab" class="formOpen" onclick="$('#newMapModal').show()">
                                    +
                                </a>
                            </li>
                        </ul>
                    </nav>
                </header>
                <div class="mapContent" th:if="${settlementMap} != null">
                    <div id="settlementMapSidebar" style="display: none">
                        <div class="settlementForm">
                            <form id="settlementForm" th:action="@{'/api/map/{mapId}'(mapId = ${map.id})}" method="post">
                                <label for="lotX">Coordinate X</label>
                                <input name="lotX" id="lotX" class="lotX" type="number" multiple readonly>
                                <br>
                                <label for="lotY">Coordinate Y</label>
                                <input name="lotY" id="lotY" class="lotY" type="number" multiple readonly>
                                <br>
                                <label for="lotCount">Number of lots</label>
                                <input name="lotCount" id="lotCount" class="lotCount" type="number" readonly onchange="
                                    let buildings = /*[${T(pathfinder.domain.kingdom.settlement.buildings.LotBuildingType).entries]*/ [];
                                    buildings.forEach(building => {
                                        if(building.size === 'NORMAL' && value !== 1) $(`#${building}Option`).prop('disabled', true)
                                        else if(building.size === 'NORMAL_OR_LARGE' && (value !== 1 || value !== 2)) $(`#${building}Option`).prop('disabled', true)
                                        else if(building.size === 'LARGE' && value !== 2) $(`#${building}Option`).prop('disabled', true)
                                        else if(building.size === 'HUGE' && value !== 4) $(`#${building}Option`).prop('disabled', true)
                                        else $(`#${building}Option`).prop('disabled', false);
                                    })
                                ">
                                <br>
                                <label for="lotBuilding">Terrain</label>
                                <select name="building" id="lotBuilding">
                                    <option th:each="type : ${T(pathfinder.domain.kingdom.settlement.buildings.LotBuildingType).entries}" th:value="${type}" th:text="${type}" th:id="${type}Option"/>
                                </select>
                                <br>
<!--                                <select name="upgrade"-->
                                <label for="visibleText">Visible Text</label>
                                <textarea id="visibleText" name="visibleText" cols="20" rows="5"></textarea>
                                <br>
                                <label for="hiddenText">Hidden Text</label>
                                <textarea id="hiddenText" name="hiddenText" cols="20" rows="5"></textarea>
                                <br>
                                <input class="inputButton" type="submit" value="Edit hex"/>
                            </form>
                        </div>
                        <hr>
                        <div id="settlementField">
                            <button id="newSettlementButton" class="inputButton formOpen" type="button" onclick="$('#newSettlementModal').show()" style="display: none">
                                New Settlement
                            </button>
                            <a id="settlementLink" style="display: none"></a>
                        </div>
                    </div>
                    <div id="mapView" class="mapView"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:if="${map != null}">
    <script th:inline="javascript">
        let offsetX = /*[[${map.offsetX}]]*/ 0;
        let offsetY = /*[[${map.offsetY}]]*/ 0;
        let mapData = /*[[${map.mapData}]]*/ null;
        let campaignId = /*[[${campaign.id}]]*/ 0;

        $('#mapView').addMap(campaignId, true, offsetX, offsetY, mapData);
    </script>
</th:block>
<th:block th:replace="~{tags/forms :: forms}"/>
</body>
</html>
