<!DOCTYPE html>
<div id="navbar" class="sidebar" xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
  <!--/*@thymesVar id="avatar" type="java.net.URL"*/-->
  <!--/*@thymesVar id="username" type="String"*/-->
  <!--/*@thymesVar id="servers" type="java.util.Map<Long, String>"*/-->
  <!--/*@thymesVar id="guild" type="kotlin.Pair<Long, String>"*/-->
  <!--/*@thymesVar id="campaigns" type="java.util.Collection<pathfinder.domain.Campaign>"*/-->
  <!--/*@thymesVar id="campaign" type="pathfinder.domain.Campaign"*/-->
  <div class="scrollerWrapper">
    <div class="scroller">
      <div class="sidebarInner">
        <div class="sidebarContainer">
          <div class="userContainer">
            <img class="avatar" th:src="${avatar}" th:alt="${username}"/>
            <th:block th:text="${username}"/>
            <a class="logoutLink" href="/logout">
              logout
            </a>
          </div>
          <br/>
          <div class="serverContainer">
            <p class="sidebarHeading">Campaign</p>
            <ul class="sidebarList">
              <li th:each="c: ${#lists.sort(campaigns)}">
                <a class="sidebarLink" th:href="@{'/campaign/{id}'(id=${c.id})}" th:text="${c.name}" th:classappend="${campaign != null && c.id == campaign?.id} ? 'activeLink'"/>
              </li>
              <li>
                <button id="newCampaignButton" class="inputButton formOpen" type="button" onclick="$('#newCampaignModal').show()">
                <!--onclick="location.href = '/portal/campaign/new';"-->
                  New Campaign
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>